{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
    <li>
        <a href="/artists/{{ artist.id }}">
            <i class="fas fa-users"></i>
            <div class="item">
                <h5>ID: {{ artist.id }}</h5>
                <h5>Name: {{ artist.name }}</h5>
                <h5>City : {{ artist.city }}</h5>
                <h5>State : {{ artist.state }}</h5>
            </div>
        </a>
        <button class="btnDelete" title="Delete" id="btnDelete" data-id="{{ artist.id }}">&cross;</button>
        <!--<button class="btnUpdate" id="btnUpdate" data-id="{{ artist.id }}">Update</button>-->
    </li>
	{% endfor %}
</ul>
<script >
    //addOnClickHandler({ selector: '.btnUpdate', method: 'PUT', collName: 'artists' })
    addOnClickHandler({ selector: '.btnDelete', method: 'DELETE', collName: 'artists' })
</script>
{% endblock %}