{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <!--<img src="{{ show.artist_image_link }}" alt="Artist Image" />-->
            <!-- |datetime('full') -->
            <h4>{{ show.start_time }}</h4>
            <h5>Artist: <a href="/artists/{{ show.artist.id }}">{{ show.artist.name }} ({{ show.artist.id }})</a></h5>
            <p>playing at</p>
            <h5>Venue: <a href="/venues/{{ show.venue.id }}">{{ show.venue.name }} ({{ show.venue.id }})</a></h5>
            <button class="btnDelete" id="btnDelete" title="Delete" data-id="{{ show.id }}">&cross;</button>
        </div>
    </div>
    <!--<button class="btnUpdate" id="btnUpdate" data-id="{{ show.id }}">Update</button>-->
    {% endfor %}
</div>
<script>
    //addOnClickHandler({ selector: '.btnUpdate', method: 'PUT', collName: 'shows' })
    addOnClickHandler({ selector: '.btnDelete', method: 'DELETE', collName: 'shows' })
</script>
{% endblock %}